# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#data files
myDataBase.json
world.json
.vscode/settings.json
.env.production
player.json
data/characters.json
data/objects.json
data/players.json
dist/auth.js
dist/server.js
dist/tailwind.config.js
dist/.next/types/app/layout.js
dist/.next/types/app/page.js
dist/.next/types/app/admin/page.js
dist/.next/types/app/api/characters/route.js
dist/src/ClientEngine.js
dist/src/ClientEngine.test.jsx
dist/src/console.js
dist/src/GameEngine.js
dist/src/GameEngine.test.js
dist/src/GameWorld.js
dist/src/Geometry.js
dist/src/Geometry.test.js
dist/src/instrumentation.js
dist/src/Roll.test.js
dist/src/ServerEngine.js
dist/src/ServerEngine.test.js
dist/src/SocketResponse.js
dist/src/utility.js
dist/src/utility.test.js
dist/src/app/CharacterUI.jsx
dist/src/app/ClientUI.jsx
dist/src/app/CommandInput.jsx
dist/src/app/CommunityCreation.jsx
dist/src/app/Header.jsx
dist/src/app/layout.jsx
dist/src/app/page.jsx
dist/src/app/SignInOut.jsx
dist/src/app/admin/CharacterList.jsx
dist/src/app/admin/page.jsx
dist/src/app/api/characters/route.js
dist/src/app/components/clock/clock.jsx
dist/src/app/providers/SessionProvider.jsx
dist/src/pages/api/world.js
dist/src/pages/api/auth/[...nextauth].js
dist/src/types/Action.js
dist/src/types/Character.js
dist/src/types/Character.test.js
dist/src/types/CLASSES.json
dist/src/types/ClassPopulation.js
dist/src/types/CommunitySize.js
dist/src/types/CONSTANTS.js
dist/src/types/GameEvent.js
dist/src/types/LEVELS.json
dist/src/types/Line.js
dist/src/types/LineSegment.js
dist/src/types/Player.js
dist/src/types/Player.test.js
dist/src/types/Point.js
dist/src/types/Ray.js
dist/src/types/SHAPE.js
dist/src/types/WorldObject.js
dist/src/types/Zones.js
dist/src/types/ZONETYPE.js
dist/src/pages/api/auth/[...nextauth].js
dist/src/pages/api/auth/[...nextauth].js
