.character {
    border: thin black solid;
    box-shadow: inset 0px 0px 22px #ffffff;

    &.targeted {
        border: medium #c02020 solid;
        box-shadow: inset 0px 0px 22px #f05757;
    }

    &.selected {
        border: medium #d33333 solid;
        box-shadow: inset 0px 0px 22px #d34040;
    }

    &.controlled {
        border: medium #1e67db solid;
        box-shadow: inset 0px 0px 22px #1e67db;
    }
}

.card {
    display: flex;
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
}

.column {
    flex-direction: column;

}