.character {
    border: thin black solid;

    &.selectedControlled {
        border: thin #9130b8 solid;
        box-shadow: inset 0px 0px 22px #b150d8;
    }

    &.selectedClaimed {
        border: thin #24d6d6 solid;
        box-shadow: inset 0px 0px 22px #66fafa;
    }
 
    &.selected {
        border: thin #3b9f47 solid;
        box-shadow: inset 0px 0px 22px #59d467;
    }
 
    &.controlled {
        border: thin #bb3eac solid;
        box-shadow: inset 0px 0px 22px #fa66e9;
    }

    
    &.claimed {
        border: thin #1e67db solid;
        box-shadow: inset 0px 0px 22px #1e67db;
    }
}

.card {
    display: flex;
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
}

.column {
    flex-direction: column;

}