.canvas {
    border: thin black solid;
    width: 800px;
    height: 800px;

    :active {
        border: none;
    }
}
.flexColumn
{
    flex-direction: column;
    display: flex;
}

.hud {
    button {
        border: thin black solid;
        border-radius: 5px;
        padding: 0px 4px 0px 4px;
        margin: 2px;
    }
}