.clock {
    position: absolute;
    top: 10px;
    left: 50%;
}

.action {
    position: absolute;
    right: 10px;
    top: 10px;
    border: thin black solid;
    border-radius: 5px;
    padding: 4px;
    background-color: rgba(255, 255, 255, .8);
}

.chatContainer {
    position: absolute;
    bottom: 0;
    width: 100%;

    .chatHistoryContainer {
       
        max-width: 400px;
        

        textarea {
            width: 100%;
            //white-space: pre-line;
            height: 15em;
            background: rgba(0255,255,255,.8);
            border: thin black solid;
        }
    }

    .chatInputContainer {
 
        input {
            width: 100%;
            border: thin black solid;
            padding: 1px 1px 1px 4px;
        }
    }
}