@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    overflow: hidden;
    height: 100%;
}

body {
    //display: flex;
    //overflow: hidden;
    //flex-direction: column;
    height: 100%;
}