@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    overflow: hidden;
}

body {
    display: flex;
    //overflow: hidden;
    flex-direction: column;
}