@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    overflow: hidden;
    height: 100%;
}

body {
    //display: flex;
    //overflow: hidden;
    //flex-direction: column;
    height: 100%;
}

@font-face {
    font-family: "Futura Extra Bold";
    src:
      local("Futura Extra Bold"),
      url("../../public/Futura Extra Bold.otf") format("opentype") tech(color-COLRv1),
  }