.table-cell {
    padding: 1em;

    input {
        padding: 0em 0.5em;
    }
}

.table-header {
    position: sticky;
    top: 0;
}

.table-row:nth-child(even) {
    background: #CCC
}

.table-row:nth-child(odd) {
    background: #999
}

.sorter {
    padding: 3px;
    cursor: pointer;
}

button {
    border: black thin solid;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}